html, body {
font-family: 'Opensans', sans-serif;
font-size: 20px;
min-height: 100%;
}
body {
  font-size: 90%;
  text-align: center;
  background: linear-gradient(to bottom, #1c1b17 0%,#ebe6e3 100%);


}

#wrapper {

max-width: 1200px;
margin:0 auto;
padding: 0 0 50px 0;
}
header {

  padding: 4px;
}

.matthew {
font-family: 'Lobster', cursive;
text-align: center;
padding: 35px;
font-size: 300%;
color: #fff;
line-height: 40px;
border-top: 1px solid white;
border-bottom: 1px solid white;

}

footer {
  text-align: center;
  background-color: inherit;
  color: white;
}
.main_menu {
margin-top: 15px;
display: flex;
justify-content: flex-end;
line-height: 32px;
}
.clear {
  clear: both;
}
.pmainpage {
color: #fff;
text-align: right;
}
img.profile {
width: 640px;
height: 360px;
margin-right: 20px;

}
img.profile2 {
  width: 218px;
  height: 360px;
}


.main_menu li {
  padding: 0 10px 0 10px;
  font-size: 20px;

}
a {
  cursor: auto
  ;
}
.main_menu a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  font-variant: small-caps;
}
.main_menu a:hover {
color:  #d3a625;
text-decoration:underline;
}
/*.main_menu a:visited{
    color:blue;
}*/

.main_menu a:active{
  color:black;
}
.list {
text-align: center;
flex-direction: row;
align-content: space-between;
background: #AEBD38;
}
ul {
  text-align: center;
  list-style-type: none;
}
.cvlist {
  font-size: 70%;
}
.rightside{
text-align: right;
font-size: 70%;
}
li {

  color: white;
  padding: 0 80px 0  0;

}
.welcome {
text-align: left;
color: white;
padding: 35px 0 35px 190px;
border-bottom: 1px solid white;
border-top: 1px solid white;

}
p a{
 color: white;
}
.mybio {
  color: white;
  padding:0 250px 0 250px;
  text-align: center;

}
form {
  color: white;
}
.matthew {
  font-style: italic;
}
